# Dahua DSS Configuration
DAHUA_BASE_URL=http://[IP_DAHUA]:[PORT]
DAHUA_USERNAME=system
DAHUA_PASSWORD=your_password

# Google Chat Webhook Configuration
GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/XXX/messages?key=XXX&token=XXX

# Middleware Configuration
MIDDLEWARE_PORT=3000
MIDDLEWARE_WEBHOOK_URL=http://[YOUR_MIDDLEWARE_IP]:3000/api/dahua/push

# Random string used to validate the signature when subscribing to Dahua alarms
DAHUA_SUBSCRIBE_SIGNATURE=random_string_123
